@media (max-width: 600px) {
  #main-content {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

@media (max-width: 520px) {
  .filter-grid {
    grid-template-columns: 1fr !important;
  }
}
